@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  box-sizing: border-box;
}
.isActive {
  color: #315b61;
  font-weight: normal;
}
nav li:hover {
  color: rgb(49, 91, 97);
}
:disabled {
  color: grey;
}
.hamburger-group > * {
  color: #781313;
}

