@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  margin: 0;

  padding: 0;
  box-sizing: border-box;
}
.isActive {
  color: #315b61;
  font-weight: normal;
}
nav li:hover {
  color: rgb(49, 91, 97);
}
:disabled {
  color: grey;
}
.hamburger-group > * {
  color: #781313;
}
.logo-text {
  font-family: "Satisfy", cursive;
}
